@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #374052;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

body {
  margin: 0;
  overflow-x: hidden;
  position: fixed;
  height: 100%;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.qr-image-wrapper {
  --b: 3px; /* thickness of the border */
  --c: white; /* color of the border */
  --w: 40px; /* width of border */
  --r: 18px; /* radius */

  padding: var(--b); /* space for the border */

  position: relative;
  /*Irrelevant code*/
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box;
  margin: 5px;
  display: inline-flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.qr-image-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--c, red);
  padding: var(--b);
  border-radius: var(--r);
  -webkit-mask: linear-gradient(0deg, #000 calc(2 * var(--b)), #0000 0) 50% var(--b) / calc(100% - 2 * var(--w)) 100% repeat-y,
    linear-gradient(-90deg, #000 calc(2 * var(--b)), #0000 0) var(--b) 50%/100% calc(100% - 2 * var(--w)) repeat-x,
    linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.qr-image-wrapper section {
  border-radius: 16px;
}

.qr-image-wrapper section div {
  box-shadow: unset !important;
  border: 0px !important;
}
